<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="console" xsi:type="ColoredConsole" 
		useDefaultRowHighlightingRules="false" 
		layout="[${level:uppercase=false}] ${message}" >
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="Gray"/>
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="White"/>
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="White"/>
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="White"/>
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="White"/>
		<highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="White"/>
		<highlight-word backgroundColor="NoChange" foregroundColor="Green" ignoreCase="false"
                    text="[Info]" wholeWords="false"/>
		<highlight-word backgroundColor="NoChange" foregroundColor="Yellow" ignoreCase="false"
                    text="[Warn]" wholeWords="false"/>
		<highlight-word backgroundColor="NoChange" foregroundColor="Red" ignoreCase="false"
                    text="[Error]" wholeWords="false"/>
		<highlight-word backgroundColor="NoChange" foregroundColor="Magenta" ignoreCase="false"
                    text="[SQL]" wholeWords="false"/>	
		<highlight-word backgroundColor="NoChange" foregroundColor="Cyan" ignoreCase="false"
                    text="[Debug]" wholeWords="false"/>					
	</target>
    <target xsi:type="File" name ="File" fileName ="Log/${shortdate}/${logger}_${shortdate}.log" encoding="utf-8" layout="[${level:uppercase=true}]${date} ${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="Default" minlevel="Debug" writeTo="console" />
    <logger name="LoginServer" minlevel="Warn" writeTo="File" />
    <logger name="LobbyServer" minlevel="Warn" writeTo="File" />
    <logger name="GameServer" minlevel="Warn" writeTo="File" />
    <logger name="AccountServer" minlevel="Warn" writeTo="File" />
    <logger name="CharacterServer" minlevel="Warn" writeTo="File" />
  </rules>
</nlog>
